<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
    <title>Docket v1 | Fusion Tech Club | Amity University Greater Noida</title>
    <link rel="stylesheet" href="../stylesheet/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <!-- Navbar Starts -->
    <nav>
        <div class="navbar-left">
            <a id="ham-icon" onclick="showSidebar()">
                <i class="fa-solid fa-bars"></i>
            </a>
            <a href="#section-break-hero"><img src="../images/FusionTechClub.svg" alt="Fusion Tech Club Logo"></a>
            <h1>Fusion Tech Club</h1>
        </div>
        <div class="navbar-right">
            <ul>
                <li><a href="#section-break-hero">HOME</a></li>
                <li><a href="#section-break-domain">DOMAINS</a></li>
                <li><a href="#section-break-prizes">PRIZES</a></li>
                <li><a href="#section-break-schedule">SCHEDULE</a></li>
                <li><a href="#section-break-faqs">FAQS</a></li>
                <li><a href="#section-break-contact">CONTACT US</a></li>
            </ul>
        </div>
    </nav>
    <!-- Navbar ends -->


    <!-- Sidebar Starts -->
    <aside id="sidebar">
        <a class="cancel" onclick="hideSidebar()">
            <i class="fa-solid fa-xmark"></i>
        </a>
        <a href="#section-break-hero">HOME</a>
        <a href="#section-break-domain">DOMAINS</a>
        <a href="#section-break-prizes">PRIZES</a>
        <a href="#section-break-judges">JUDGES</a>
        <a href="#section-break-schedule">SCHEDULE</a>
        <a href="#section-break-partners">PARTNERS</a>
        <a href="#section-break-faqs">FAQS</a>
        <a href="#section-break-contact">CONTACT US</a>
    </aside>
    <!-- Sidebar Ends -->

    <div id="section-break-hero">
    </div>


    
    <!------------------------------------ Hero Section ------------------------------------>
    <section class="hero-section">
        <div class="video-wrapper">
            <video id="video" playsinline autoplay muted loop>
              <source src="../images/Montage1.mp4" type="video/mp4">
              Your browser does not support the video tag.
            </video>
        </div>
        <div class="video-overlay"></div>
        <div class="content">
            <h1>Docket <span class="version">v1</span></h1>
            <h2 class="hero-heading">Weekends are for vacation, but techies vow to participate in Docket <span class="version">v1</span> unless they have commitment concerns.</h2>
            <h3 class="hero-heading">You don't need 24 reasons to participate in our 24-hour hackathon.</h3>
            <div class="btn-area">
                <a class="hero-btn" href="./registration.html" target="_blank">Register Now</a>
                <a class="hero-btn" href="./problemStatements.html" target="_blank">Problem Statements</a>
                <!-- <a class="hero-btn" href="./showcase.html" target="_blank">Showcase</a> -->
                <a class="hero-btn" href="./rules.html" target="_blank">Rules and Regulations</a>
            </div>
            <div class="scroll-area">
                <a class="scroll-button" href="#section-break-domain">
                    <i class="fa-sharp fa-solid fa-arrow-down"></i>
                </a>
            </div>
        </div>
          <button id="play-pause-button" onclick="playPause()"><i class="fa-solid fa-pause"></i></button>
        </section>

    <!------------------------------ Hero section ends --------------------------------------->




    <!-- ---------------------------------- Domains Section ---------------------------------- -->
    <div id="section-break-domain" class="section-break">
        <!-- <div class="line"></div> -->
    </div>
    <div id="domain">
        <h1>
            Domains
        </h1>
    </div>
    <section class="domain">
        <div class="domain-main-content">
            <div class="domain-container">
                <div class="domain-card">
                    <div class="domain-content">
                        <h2>Health</h2>
                        <h3>HealthTech</h3>
                        <img src="../images/healthtech.svg" alt="">
                        <a href="#" target="_blank">READ MORE</a>
                    </div>
                </div>
                <div class="domain-card">
                    <div class="domain-content">
                        <h2>Eco</h2>
                        <h3>EcoTech</h3>
                        <img src="../images/ecotech.svg" alt="">
                        <a href="#" target="_blank">READ MORE</a>
                    </div>
                </div>
                <div class="domain-card">
                    <div class="domain-content">
                        <h2>Ed</h2>
                        <h3>EdTech</h3>
                        <img src="../images/edtech.svg" alt="">
                        <a href="#" target="_blank">READ MORE</a>
                    </div>
                </div>
                <div class="domain-card">
                    <div class="domain-content">
                        <h2>Fin</h2>
                        <h3>FinTech</h3>
                        <img src="../images/fintech.svg" alt="">
                        <a href="#" target="_blank">READ MORE</a>
                    </div>
                </div>
                <div class="domain-card">
                    <div class="domain-content">
                        <h2>Misc</h2>
                        <h3>Miscellaneous</h3>
                        <img src="../images/misc.svg" alt="">
                        <a href="#" target="_blank">READ MORE</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!----------------------------------Domain section ends---------------------------------->







    <!------------------------------------ Prize Section ----------------------------------->
    
    
    
    <div id="section-break-prizes" class="section-break">
        <!-- <div class="line"></div> -->
    </div>
    <div id="prize">
        <h1>
            Prizes
        </h1>
    </div>
    <section class="prize">
        <div class="prize-main-content">
            <div class="prize-container">
                <div class="prize-card">
                    <div class="prize-box">
                        <div class="prize-content">
                            <h2>2</h2>
                            <h3>2nd</h3>
                            <img src="../images/2ndMedal.svg" alt="">
                            <h4>₹ 10,000</h4>
                            <a href="#" target="_blank">READ MORE</a>
                        </div>
                    </div>
                </div>
                <div class="prize-card">
                    <div class="prize-box">
                        <div class="prize-content">
                            <h2>1</h2>
                            <h3>1st</h3>
                            <img src="../images/1stMedal.svg" alt="">
                            <h4>₹ 20,000</h4>
                            <a href="#" target="_blank">READ MORE</a>
                        </div>
                    </div>
                </div>
                <div class="prize-card">
                    <div class="prize-box">
                        <div class="prize-content">
                            <h2>3</h2>
                            <h3>3rd</h3>
                            <img src="../images/3rdMedal.svg" alt="">
                            <h4>₹ 5,000</h4>
                            <a href="#" target="_blank">READ MORE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!------------------------------ Prize section ends ------------------------------------>



<!-- ---------------------------------- Judges Section ---------------------------------- -->


    <div id="section-break-judges" class="section-break">
        <!-- <div class="line"></div> -->
    </div>
    <div id="judges">
        <h1>
            Judges
        </h1>
    </div>
    <section class="judges">
        <div class="judges-main-content">
            <div class="judges-container">
                <div class="judges-content">
                    <div class="judges-card-wrapper">
                        <div class="judges-card">
                            <div class="judges-image-content">
                                <span class="judges-overlay"></span>
                                <div class="judges-card-image">
                                    <img src="../images/profile-placeholder-male.svg" alt="" class="judges-card-img">
                                </div>
                            </div>
                            <div class="judges-card-content">
                                <h2 class="judges-card-title">Name</h2>
                                <h3 class="judges-card-subtitle">Designation</h3>
                                <p class="judges-card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.</p>
                            </div>
                        </div>
                        <div class="judges-card">
                            <div class="judges-image-content">
                                <span class="judges-overlay"></span>
                                <div class="judges-card-image">
                                    <img src="../images/profile-placeholder-female.svg" alt="" class="judges-card-img">
                                </div>
                            </div>
                            <div class="judges-card-content">
                                <h2 class="judges-card-title">Name</h2>
                                <h3 class="judges-card-subtitle">Designation</h3>
                                <p class="judges-card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.</p>
                            </div>
                        </div>
                        <div class="judges-card">
                            <div class="judges-image-content">
                                <span class="judges-overlay"></span>
                                <div class="judges-card-image">
                                    <img src="../images/profile-placeholder-male.svg" alt="" class="judges-card-img">
                                </div>
                            </div>
                            <div class="judges-card-content">
                                <h2 class="judges-card-title">Name</h2>
                                <h3 class="judges-card-subtitle">Designation</h3>
                                <p class="judges-card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.</p>
                            </div>
                        </div>
                        <div class="judges-card">
                            <div class="judges-image-content">
                                <span class="judges-overlay"></span>
                                <div class="judges-card-image">
                                    <img src="../images/profile-placeholder-female.svg" alt="" class="judges-card-img">
                                </div>
                            </div>
                            <div class="judges-card-content">
                                <h2 class="judges-card-title">Name</h2>
                                <h3 class="judges-card-subtitle">Designation</h3>
                                <p class="judges-card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.</p>
                            </div>
                        </div>
                        <div class="judges-card">
                            <div class="judges-image-content">
                                <span class="judges-overlay"></span>
                                <div class="judges-card-image">
                                    <img src="../images/profile-placeholder-male.svg" alt="" class="judges-card-img">
                                </div>
                            </div>
                            <div class="judges-card-content">
                                <h2 class="judges-card-title">Name</h2>
                                <h3 class="judges-card-subtitle">Designation</h3>
                                <p class="judges-card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.</p>
                            </div>
                        </div>
                        <div class="judges-card">
                            <div class="judges-image-content">
                                <span class="judges-overlay"></span>
                                <div class="judges-card-image">
                                    <img src="../images/profile-placeholder-female.svg" alt="" class="judges-card-img">
                                </div>
                            </div>
                            <div class="judges-card-content">
                                <h2 class="judges-card-title">Name</h2>
                                <h3 class="judges-card-subtitle">Designation</h3>
                                <p class="judges-card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--------------------------------- Judges Section ends ------------------------------------->



    <!------------------------------------ Schedule Section ------------------------------------>

    <div id="section-break-schedule" class="section-break">
        <!-- <div class="line"></div> -->
    </div>
    <div id="schedule">
        <h1>
            Schedule
        </h1>
    </div>
    <section class="schedule">
        <div class="sechdule-items">
            <div class="schedule-lines"></div>
            <div class="schedule-item">
                <div class="schedule-dot"></div>
                <div class="schedule-time">9:00 AM | 14 December, 2022</div>
                <div class="schedule-content">
                    <h3>
                        Reporting
                    </h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="schedule-item">
                <div class="schedule-dot"></div>
                <div class="schedule-time">9:30 AM | 14 December, 2022</div>
                <div class="schedule-content">
                    <h3>
                        Attendance
                    </h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="schedule-item">
                <div class="schedule-dot"></div>
                <div class="schedule-time">10:00 AM | 14 December, 2022</div>
                <div class="schedule-content">
                    <h3>
                        Briefing
                    </h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="schedule-item">
                <div class="schedule-dot"></div>
                <div class="schedule-time">10:14 AM | 14 December, 2022</div>
                <div class="schedule-content">
                    <h3>
                        Breakfast
                    </h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="schedule-item">
                <div class="schedule-dot"></div>
                <div class="schedule-time">10:30 AM | 14 December, 2022</div>
                <div class="schedule-content">
                    <h3>
                        Problem Statements will be Disclosed
                    </h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="schedule-item">
                <div class="schedule-dot"></div>
                <div class="schedule-time">11:00 AM | 14 December, 2022</div>
                <div class="schedule-content">
                    <h3>
                        Hacking Starts
                    </h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="schedule-item">
                <div class="schedule-dot"></div>
                <div class="schedule-time">1:30 PM | 14 December, 2022</div>
                <div class="schedule-content">
                    <h3>
                        Lunch
                    </h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="schedule-item">
                <div class="schedule-dot"></div>
                <div class="schedule-time">3:00 PM | 14 December, 2022</div>
                <div class="schedule-content">
                    <h3>
                        Round 1 Judging
                    </h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="schedule-item">
                <div class="schedule-dot"></div>
                <div class="schedule-time">6:00 PM | 14 December, 2022</div>
                <div class="schedule-content">
                    <h3>
                        Snacks
                    </h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="schedule-item">
                <div class="schedule-dot"></div>
                <div class="schedule-time">9:00 PM | 14 December, 2022</div>
                <div class="schedule-content">
                    <h3>
                        Round 2 Judging
                    </h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="schedule-item">
                <div class="schedule-dot"></div>
                <div class="schedule-time">9:00 PM | 14 December, 2022</div>
                <div class="schedule-content">
                    <h3>
                        Dinner
                    </h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="schedule-item">
                <div class="schedule-dot"></div>
                <div class="schedule-time">9:00 AM | 15 December, 2022</div>
                <div class="schedule-content">
                    <h3>
                        Breakfast
                    </h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="schedule-item">
                <div class="schedule-dot"></div>
                <div class="schedule-time">12:00 PM | 15 December, 2022</div>
                <div class="schedule-content">
                    <h3>
                        Final Round Judging
                    </h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="schedule-item">
                <div class="schedule-dot"></div>
                <div class="schedule-time">3:00 PM | 15 December, 2022</div>
                <div class="schedule-content">
                    <h3>
                        Lunch
                    </h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="schedule-item">
                <div class="schedule-dot"></div>
                <div class="schedule-time">3:00 PM | 15 December, 2022</div>
                <div class="schedule-content">
                    <h3>
                        Results Announcement
                    </h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="schedule-item">
                <div class="schedule-dot"></div>
                <div class="schedule-time">3:00 PM | 15 December, 2022</div>
                <div class="schedule-content">
                    <h3>
                        Code-A-Thon
                    </h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="schedule-item">
                <div class="schedule-dot"></div>
                <div class="schedule-time">3:00 PM | 15 December, 2022</div>
                <div class="schedule-content">
                    <h3>
                        Prize Distribution
                    </h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- ---------------------------------- Schedule Section ends ---------------------------------- -->




    <!-- ---------------------------------- Partners Section ---------------------------------- -->

    <div id="section-break-partners" class="section-break">
        <!-- <div class="line"></div> -->
    </div>
    <div id="partners">
        <h1>
            Partners
        </h1>
    </div>
    <section></section>

    <!-- ---------------------------------- Partners Section ends ---------------------------------- -->






    <!-- ---------------------------------- FAQs Section ---------------------------------- -->
    
    <div id="section-break-faqs" class="section-break">
        <!-- <div class="line"></div> -->
    </div>
    <div id="faqs">
        <h1>
            Frequently Asked Questions
        </h1>
    </div>
    <section>
        <div class="faq-accordion">

            <div class="faq-item">
                <div class="faq-item-header">
                    What is {Hackathon's Name}?
                </div>
                <div class="faq-item-body">
                    <div class="faq-item-body-content">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum ex accusamus nemo vel exercitationem. Praesentium omnis blanditiis error culpa quos?
                    </div>
                </div>
            </div>

            <div class="faq-item">
                <div class="faq-item-header">
                    When is the Event?
                </div>
                <div class="faq-item-body">
                    <div class="faq-item-body-content">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum ex accusamus nemo vel exercitationem. Praesentium omnis blanditiis error culpa quos?
                    </div>
                </div>
            </div>

            <div class="faq-item">
                <div class="faq-item-header">
                    Where is the Event?
                </div>
                <div class="faq-item-body">
                    <div class="faq-item-body-content">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum ex accusamus nemo vel exercitationem. Praesentium omnis blanditiis error culpa quos?
                    </div>
                </div>
            </div>

            <div class="faq-item">
                <div class="faq-item-header">
                    How do I Register?
                </div>
                <div class="faq-item-body">
                    <div class="faq-item-body-content">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum ex accusamus nemo vel exercitationem. Praesentium omnis blanditiis error culpa quos?
                    </div>
                </div>
            </div>

        </div>
    </section>

    <!-- ---------------------------------- FAQs Section ---------------------------------- -->





    <!-- ---------------------------------- Contact Us Section ---------------------------------- -->


    <div id="section-break-contact" class="section-break">
        <!-- <div class="line"></div> -->
    </div>
    <div id="contact">
        <h1>
            Contact Us
        </h1>
    </div>
    <section class="contact">
        <div class="contact-main-content">
            <div class="contact-flex-left">
                <div class="location">
                    <i class="fa-solid fa-location-dot"></i>
                    <span class="contact-text">
                        <a href="https://www.google.com/maps/dir//Amity+University,+Greater+Noida+Plot+No.48+A,+Knowledge+Park+III+Greater+Noida,+Uttar+Pradesh+201308/@28.4650533,77.4845485,15z/data=!4m5!4m4!1m0!1m2!1m1!1s0x390cea09ba0d2aa7:0xcdf825a25f9f7d78" target="_blank">
                            Amity University, Greater Noida, Knowledge Park 3, Uttar Pradesh 201306
                        </a>
                    </span>
                </div>
                <div class="call-us">
                    <i class="fa-solid fa-phone"></i>
                    <span class="contact-text">
                        <a href="tel:+919876543210" target="_blank">
                            +91 9876543210
                        </a>
                    </span>
                </div>
                <div class="email-us">
                    <i class="fa-solid fa-envelope"></i>
                    <span class="contact-text">
                        <a href="mailto:mail@mail.com" target="_blank">
                            mail@mail.com
                        </a>
                    </span>
                </div>
                <div class="telegram-channel">
                    <i class="fa-brands fa-telegram"></i>
                    <span class="contact-text">
                        <a href="t.me/telegram.com" target="_blank">
                            t.me/telegram.com
                        </a>
                    </span>
                </div>
                <div class="slack-channel">
                    <i class="fa-brands fa-slack"></i>
                    <span class="contact-text">
                        <a href="t.me/telegram.com" target="_blank">
                            Slack Channel
                        </a>
                    </span>
                </div>
            </div>
            <div class="contact-flex-right">
                <div class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3507.4809881447613!2d77.48235981404747!3d28.465057998391845!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cea09ba0d2aa7%3A0xcdf825a25f9f7d78!2sAmity%20University%2C%20Greater%20Noida!5e0!3m2!1sen!2sin!4v1565917403129!5m2!1sen!2sin" width="600" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </section>

    <!-- ---------------------------------- Contact Us Section ---------------------------------- -->



    

    <!-- ---------------------------------- Footer ---------------------------------- -->

    <!-- Footer Starts -->
    <footer class="footer">

        <!-- Footer Head -->
        <div class="footer-top">
            <img src="../images/FusionTechClub.svg" alt="text-logo">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.
            </p>
        </div>

        <!-- Footer Body -->
        <div class="footer-middle">

            <!-- Left -->
            <div class="footer-body-left">
                <h3>
                    Map
                </h3>
                <div class="maps">
                    <a href="#section-break-hero">HOME</a>
                    <a href="#section-break-domain">DOMAINS</a>
                    <a href="#section-break-prizes">PRIZES</a>
                    <a href="#section-break-judges">JUDGES</a>
                    <a href="#section-break-schedule">SCHEDULE</a>
                    <a href="#section-break-partners">PARTNERS</a>
                    <a href="#section-break-faqs">FAQS</a>
                    <a href="#section-break-contact">CONTACT US</a>
                </div>
            </div>

            <!-- Center -->
            <div class="footer-body-center">
                <h3>
                    Social Links
                </h3>
                <div class="links">
                    <div class="links-top">
                        <a href="#">
                            <i class="fa-brands fa-youtube"></i>
                        </a>
                        <a href="#">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                        <a href="#">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                        <a href="#">
                            <i class="fa-brands fa-medium"></i>
                        </a>
                        <a href="#">
                            <i class="fa-brands fa-reddit"></i>
                        </a>
                        <a href="#">
                            <i class="fa-brands fa-github"></i>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Right -->
            <div class="footer-body-right">
                <h3>
                    For Queries
                </h3>
                <form action="https://docs.google.com/forms/u/8/d/e/1FAIpQLSd05xtQ45U1izNwVt7GDCXcqh9gx07yykNjYIOXRbEuo6kpnQ/formResponse" method="post" target="_blank">
                    <input type="text" class="footer-input" name="entry.498685830" placeholder="Your Name" required>
                    <input type="email" class="footer-input" name="entry.2139897630" placeholder="Your Email" required>
                    <textarea class="footer-input" name="entry.1448803137" cols="40" rows="5" placeholder="Reason" required></textarea>
                    <button class="submit-btn footer-btn" type="submit" target="_blank">Submit</button>
                </form>
            </div>


        </div>

        <!-- Footer Bottom -->
        <div class="foot-bottom">
            &#169; Fusion Tech Club | 2022(Powered By Amity University, Greater Noida)
        </div>
    </footer>

    <!-- ---------------------------------- Footer ---------------------------------- -->
    
</body>
<script src="../javaScript/app.js"></script>
</html>