<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheet/style.css">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Docket v1 | Submission</title>
    <title>Document</title>
</head>
<body>
    <nav>
        <div class="navbar-left">
            <a id="ham-icon" onclick="showSidebar()">
                <i class="fa-solid fa-bars"></i>
            </a>
            <a href="#section-break-hero"><img src="../images/FusionTechClub.svg" alt="Fusion Tech Club Logo"></a>
            <h1>Fusion Tech Club</h1>
        </div>
        <div class="navbar-right">
            <ul>
                <li>
                    <a href="./index.html"><i class="fa-sharp fa-solid fa-arrow-left"></i> Go Back</a>
                </li>
            </ul>
        </div>
    </nav>
    <section class="submission-content">
        <form action="">
            <input type="text">
            <button class="submit-btn" type="submit">Submit</button>
        </form>
    </section>
</body>
</html>